node_modules
.pnpm-store
.turbo

# build outputs
.next
out
dist

# generated test artifacts (should not be committed)
**/test/**/*.js
**/test/**/*.d.ts
**/test/**/*.map

# env
.env
.env.*
!.env.example

# logs
*.log

# OS
.DS_Store
