@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { font-family: ui-sans-serif, system-ui; }

.bg-dark {
  background:
    radial-gradient(1200px 700px at 20% -10%, rgba(247,201,72,.22), transparent 55%),
    radial-gradient(900px 600px at 95% 0%, rgba(77,142,255,.16), transparent 60%),
    #0B0F17;
}

.bg-light {
  background:
    radial-gradient(1200px 700px at 20% -10%, rgba(247,201,72,.14), transparent 60%),
    #F6F7FB;
}
